---
import { Image } from 'astro:assets';
import membersTitle from '../assets/members.svg';
import { getEntry } from 'astro:content';

const companyLogos = await getEntry('logos', 'company');
const images = companyLogos?.data;
---

<div class="flex w-full flex-col items-center gap-24 py-12">
  <Image src={membersTitle} alt="members" class="h-10 md:h-40" />

  <ul
    class="grid w-full max-w-7xl grid-cols-2 gap-4 px-4 pt-8 sm:grid-cols-3 md:grid-cols-5 md:gap-6"
  >
    {
      images?.map((img: any) => (
        <li class="flex items-center justify-center p-4">
          <Image
            src={img.src}
            alt={img.alt}
            class="max-h-24 w-full object-contain"
            inferSize={true}
          />
        </li>
      ))
    }
  </ul>
</div>
